<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--
            Session
    -->
    <session-config>
        <session-timeout>600</session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secure Area</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>GETLIB</http-method>
            <http-method>COPY</http-method>
            <http-method>MOVE</http-method>
            <http-method>PROPFIND</http-method>
            <http-method>MKCOL</http-method>
            <http-method>PROPPATCH</http-method>
            <http-method>LOCK</http-method>
            <http-method>UNLOCK</http-method>
            <http-method>VERSION-CONTROL</http-method>
            <http-method>CHECKIN</http-method>
            <http-method>CHECKOUT</http-method>
            <http-method>UNCHECKOUT</http-method>
            <http-method>REPORT</http-method>
            <http-method>UPDATE</http-method>
            <http-method>CANCELUPLOAD</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Protected</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>Protected</role-name>
    </security-role>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>LDAP</realm-name>
    </login-config>
    <!--
            Servlets & Mapping 
    -->
    <servlet>
        <servlet-name>GetUserConfig</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetUserConfig</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserConfig</servlet-name>
        <url-pattern>/exec/GetUserConfig</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendHtmlMail</servlet-name>
        <servlet-class>de.siv.ksc.gateway.SendHtmlMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendHtmlMail</servlet-name>
        <url-pattern>/exec/SendHtmlMail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddDashboardLink</servlet-name>
        <servlet-class>de.siv.ksc.gateway.AddDashboardLink</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDashboardLink</servlet-name>
        <url-pattern>/exec/AddDashboardLink</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUserMail</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UpdateUserMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserMail</servlet-name>
        <url-pattern>/exec/UpdateUserMail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadPicture</servlet-name>
        <servlet-class>de.siv.ksc.picture.UploadPicture</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadPicture</servlet-name>
        <url-pattern>/exec/UploadPicture</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FormPicture</servlet-name>
        <servlet-class>de.siv.ksc.gateway.FormPicture</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormPicture</servlet-name>
        <url-pattern>/exec/FormPicture</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserPicture</servlet-name>
        <servlet-class>de.siv.ksc.picture.UserPicture</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserPicture</servlet-name>
        <url-pattern>/exec/UserPicture</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagementOverview</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UserManagementOverview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementOverview</servlet-name>
        <url-pattern>/exec/UserManagementOverview</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEntry</servlet-name>
        <servlet-class>de.siv.ksc.gateway.AddEntry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEntry</servlet-name>
        <url-pattern>/exec/AddEntry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteEntry</servlet-name>
        <servlet-class>de.siv.ksc.gateway.DeleteEntry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteEntry</servlet-name>
        <url-pattern>/exec/DeleteEntry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActivateUser</servlet-name>
        <servlet-class>de.siv.ksc.gateway.ActivateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivateUser</servlet-name>
        <url-pattern>/exec/ActivateUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PermissionRolePrivilege</servlet-name>
        <servlet-class>de.siv.ksc.gateway.PermissionRolePrivilege</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PermissionRolePrivilege</servlet-name>
        <url-pattern>/exec/PermissionRolePrivilege</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateRolePriv</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UpdateRolePriv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateRolePriv</servlet-name>
        <url-pattern>/exec/UpdateRolePriv</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PermissionGroupRole</servlet-name>
        <servlet-class>de.siv.ksc.gateway.PermissionGroupRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PermissionGroupRole</servlet-name>
        <url-pattern>/exec/PermissionGroupRole</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateGroupRole</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UpdateGroupRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateGroupRole</servlet-name>
        <url-pattern>/exec/UpdateGroupRole</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PermissionUserGroup</servlet-name>
        <servlet-class>de.siv.ksc.gateway.PermissionUserGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PermissionUserGroup</servlet-name>
        <url-pattern>/exec/PermissionUserGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUserGroup</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UpdateUserGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserGroup</servlet-name>
        <url-pattern>/exec/UpdateUserGroup</url-pattern>
    </servlet-mapping>
    <!--
            Welcome File & Datasource
    -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>Repository</description>
        <res-ref-name>jdbc/repository</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
