<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--
            Session
    -->
    <session-config>
        <session-timeout>600</session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secure Area</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>GETLIB</http-method>
            <http-method>COPY</http-method>
            <http-method>MOVE</http-method>
            <http-method>PROPFIND</http-method>
            <http-method>MKCOL</http-method>
            <http-method>PROPPATCH</http-method>
            <http-method>LOCK</http-method>
            <http-method>UNLOCK</http-method>
            <http-method>VERSION-CONTROL</http-method>
            <http-method>CHECKIN</http-method>
            <http-method>CHECKOUT</http-method>
            <http-method>UNCHECKOUT</http-method>
            <http-method>REPORT</http-method>
            <http-method>UPDATE</http-method>
            <http-method>CANCELUPLOAD</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Protected</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Exclude from Security</web-resource-name>
            <url-pattern>/efs/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-role>
        <role-name>Protected</role-name>
    </security-role>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>LDAP</realm-name>
    </login-config>
    <!--
            Servlets & Mapping 
    -->
    <servlet>
        <servlet-name>GetUserConfig</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetUserConfig</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserConfig</servlet-name>
        <url-pattern>/exec/GetUserConfig</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendHtmlMail</servlet-name>
        <servlet-class>de.siv.ksc.gateway.SendHtmlMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendHtmlMail</servlet-name>
        <url-pattern>/exec/SendHtmlMail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddDashboardLink</servlet-name>
        <servlet-class>de.siv.ksc.gateway.AddDashboardLink</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDashboardLink</servlet-name>
        <url-pattern>/exec/AddDashboardLink</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUserMail</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UpdateUserMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserMail</servlet-name>
        <url-pattern>/exec/UpdateUserMail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadPicture</servlet-name>
        <servlet-class>de.siv.ksc.picture.UploadPicture</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadPicture</servlet-name>
        <url-pattern>/exec/UploadPicture</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FormPicture</servlet-name>
        <servlet-class>de.siv.ksc.gateway.FormPicture</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormPicture</servlet-name>
        <url-pattern>/exec/FormPicture</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserPicture</servlet-name>
        <servlet-class>de.siv.ksc.picture.UserPicture</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserPicture</servlet-name>
        <url-pattern>/exec/UserPicture</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagementOverview</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UserManagementOverview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementOverview</servlet-name>
        <url-pattern>/exec/UserManagementOverview</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEntry</servlet-name>
        <servlet-class>de.siv.ksc.gateway.AddEntry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEntry</servlet-name>
        <url-pattern>/exec/AddEntry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteEntry</servlet-name>
        <servlet-class>de.siv.ksc.gateway.DeleteEntry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteEntry</servlet-name>
        <url-pattern>/exec/DeleteEntry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActivateUser</servlet-name>
        <servlet-class>de.siv.ksc.gateway.ActivateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivateUser</servlet-name>
        <url-pattern>/exec/ActivateUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PermissionRolePrivilege</servlet-name>
        <servlet-class>de.siv.ksc.gateway.PermissionRolePrivilege</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PermissionRolePrivilege</servlet-name>
        <url-pattern>/exec/PermissionRolePrivilege</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateRolePriv</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UpdateRolePriv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateRolePriv</servlet-name>
        <url-pattern>/exec/UpdateRolePriv</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PermissionGroupRole</servlet-name>
        <servlet-class>de.siv.ksc.gateway.PermissionGroupRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PermissionGroupRole</servlet-name>
        <url-pattern>/exec/PermissionGroupRole</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateGroupRole</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UpdateGroupRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateGroupRole</servlet-name>
        <url-pattern>/exec/UpdateGroupRole</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PermissionUserGroup</servlet-name>
        <servlet-class>de.siv.ksc.gateway.PermissionUserGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PermissionUserGroup</servlet-name>
        <url-pattern>/exec/PermissionUserGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUserGroup</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UpdateUserGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserGroup</servlet-name>
        <url-pattern>/exec/UpdateUserGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetContractTypes</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetContractTypes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetContractTypes</servlet-name>
        <url-pattern>/exec/GetContractTypes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateCustomer</servlet-name>
        <servlet-class>de.siv.ksc.gateway.CreateCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCustomer</servlet-name>
        <url-pattern>/exec/CreateCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCustomer</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCustomer</servlet-name>
        <url-pattern>/exec/GetCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetSingleCustomer</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetSingleCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSingleCustomer</servlet-name>
        <url-pattern>/exec/GetSingleCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCustomer</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UpdateCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCustomer</servlet-name>
        <url-pattern>/exec/UpdateCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteContract</servlet-name>
        <servlet-class>de.siv.ksc.gateway.DeleteContract</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteContract</servlet-name>
        <url-pattern>/exec/DeleteContract</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>de.siv.ksc.gateway.DeleteCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/exec/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateContractType</servlet-name>
        <servlet-class>de.siv.ksc.gateway.CreateContractType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateContractType</servlet-name>
        <url-pattern>/exec/CreateContractType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetSingleContractType</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetSingleContractType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSingleContractType</servlet-name>
        <url-pattern>/exec/GetSingleContractType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateContractType</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UpdateContractType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateContractType</servlet-name>
        <url-pattern>/exec/UpdateContractType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteContractType</servlet-name>
        <servlet-class>de.siv.ksc.gateway.DeleteContractType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteContractType</servlet-name>
        <url-pattern>/exec/DeleteContractType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WhoIsLoggedIn</servlet-name>
        <servlet-class>de.siv.ksc.gateway.WhoIsLoggedIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WhoIsLoggedIn</servlet-name>
        <url-pattern>/exec/WhoIsLoggedIn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCommentTypes</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetCommentTypes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCommentTypes</servlet-name>
        <url-pattern>/exec/GetCommentTypes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCustomerContractNumbers</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetCustomerContractNumbers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCustomerContractNumbers</servlet-name>
        <url-pattern>/exec/GetCustomerContractNumbers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetConfigMailFormat</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetConfigMailFormat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetConfigMailFormat</servlet-name>
        <url-pattern>/exec/GetConfigMailFormat</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddMailingConfig</servlet-name>
        <servlet-class>de.siv.ksc.gateway.AddMailingConfig</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMailingConfig</servlet-name>
        <url-pattern>/exec/AddMailingConfig</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddMailConfig</servlet-name>
        <servlet-class>de.siv.ksc.gateway.AddMailConfig</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMailConfig</servlet-name>
        <url-pattern>/exec/AddMailConfig</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetMailConfig</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetMailConfig</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMailConfig</servlet-name>
        <url-pattern>/exec/GetMailConfig</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetUserMailFormat</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetUserMailFormat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserMailFormat</servlet-name>
        <url-pattern>/exec/GetUserMailFormat</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCustomerMailing</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetCustomerMailing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCustomerMailing</servlet-name>
        <url-pattern>/exec/GetCustomerMailing</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateServiceEntry</servlet-name>
        <servlet-class>de.siv.ksc.gateway.CreateServiceEntry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateServiceEntry</servlet-name>
        <url-pattern>/exec/CreateServiceEntry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetServiceEntry</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetServiceEntry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetServiceEntry</servlet-name>
        <url-pattern>/exec/GetServiceEntry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AutoCompleteCustomer</servlet-name>
        <servlet-class>de.siv.ksc.gateway.AutoCompleteCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoCompleteCustomer</servlet-name>
        <url-pattern>/exec/AutoCompleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetContractRole</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetContractRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetContractRole</servlet-name>
        <url-pattern>/exec/GetContractRole</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCustomerRole</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetCustomerRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCustomerRole</servlet-name>
        <url-pattern>/exec/GetCustomerRole</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCustomerRole</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UpdateCustomerRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCustomerRole</servlet-name>
        <url-pattern>/exec/UpdateCustomerRole</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateContractRole</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UpdateContractRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateContractRole</servlet-name>
        <url-pattern>/exec/UpdateContractRole</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetDashboard</servlet-name>
        <servlet-class>de.siv.ksc.gateway.ResetDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetDashboard</servlet-name>
        <url-pattern>/exec/ResetDashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateMailEntry</servlet-name>
        <servlet-class>de.siv.ksc.gateway.CreateMailEntry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateMailEntry</servlet-name>
        <url-pattern>/exec/CreateMailEntry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCustomerServiceEntry</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetCustomerServiceEntry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCustomerServiceEntry</servlet-name>
        <url-pattern>/exec/GetCustomerServiceEntry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCustomerServiceEntries</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetCustomerServiceEntries</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCustomerServiceEntries</servlet-name>
        <url-pattern>/exec/GetCustomerServiceEntries</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MonitoringMailingOverview</servlet-name>
        <servlet-class>de.siv.ksc.gateway.MonitoringMailingOverview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringMailingOverview</servlet-name>
        <url-pattern>/exec/MonitoringMailingOverview</url-pattern>
    </servlet-mapping>
    <!--
            Monitoring Servlets
    -->
    <servlet>
        <servlet-name>BigTaov</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.BigTaov</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BigTaov</servlet-name>
        <url-pattern>/monitoring/BigTaov</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LivetickerEntries</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.LivetickerEntries</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LivetickerEntries</servlet-name>
        <url-pattern>/monitoring/LivetickerEntries</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MonitoringFull</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.MonitoringFull</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringFull</servlet-name>
        <url-pattern>/monitoring/MonitoringFull</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServiceAvail</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.ServiceAvail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceAvail</servlet-name>
        <url-pattern>/monitoring/ServiceAvail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServiceHistory</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.ServiceHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceHistory</servlet-name>
        <url-pattern>/monitoring/ServiceHistory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HostInfo</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.HostInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HostInfo</servlet-name>
        <url-pattern>/monitoring/HostInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServiceReCheck</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.ServiceReCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceReCheck</servlet-name>
        <url-pattern>/monitoring/ServiceReCheck</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mGetCustomer</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.GetCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mGetCustomer</servlet-name>
        <url-pattern>/monitoring/GetCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mGetCustomerMailing</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.GetCustomerMailing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mGetCustomerMailing</servlet-name>
        <url-pattern>/monitoring/GetCustomerMailing</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mGetCustomerContractNumbers</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.GetCustomerContractNumbers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mGetCustomerContractNumbers</servlet-name>
        <url-pattern>/monitoring/GetCustomerContractNumbers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AcknowledgeService</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.AcknowledgeService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcknowledgeService</servlet-name>
        <url-pattern>/monitoring/AcknowledgeService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetAcknowledgement</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.GetAcknowledgement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAcknowledgement</servlet-name>
        <url-pattern>/monitoring/GetAcknowledgement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetHostCustomer</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.GetHostCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetHostCustomer</servlet-name>
        <url-pattern>/monitoring/GetHostCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetHostRole</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.GetHostRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetHostRole</servlet-name>
        <url-pattern>/monitoring/GetHostRole</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetHostContract</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.GetHostContract</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetHostContract</servlet-name>
        <url-pattern>/monitoring/GetHostContract</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateHostRole</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.UpdateHostRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateHostRole</servlet-name>
        <url-pattern>/monitoring/UpdateHostRole</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateHostCustomer</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.UpdateHostCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateHostCustomer</servlet-name>
        <url-pattern>/monitoring/UpdateHostCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateHostContract</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.UpdateHostContract</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateHostContract</servlet-name>
        <url-pattern>/monitoring/UpdateHostContract</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServiceDowntime</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.ServiceDowntime</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceDowntime</servlet-name>
        <url-pattern>/monitoring/ServiceDowntime</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServiceStatus</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.ServiceStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceStatus</servlet-name>
        <url-pattern>/monitoring/ServiceStatus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CurProbs</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.CurProbs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurProbs</servlet-name>
        <url-pattern>/monitoring/CurProbs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DbStatus</servlet-name>
        <servlet-class>de.siv.ksc.monitoring.DbStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DbStatus</servlet-name>
        <url-pattern>/monitoring/DbStatus</url-pattern>
    </servlet-mapping>
    <!--
        Search
    -->
    <servlet>
        <servlet-name>Autocomplete</servlet-name>
        <servlet-class>de.siv.ksc.search.Autocomplete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autocomplete</servlet-name>
        <url-pattern>/search/Autocomplete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchHosts</servlet-name>
        <servlet-class>de.siv.ksc.search.SearchHosts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchHosts</servlet-name>
        <url-pattern>/search/SearchHosts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServices</servlet-name>
        <servlet-class>de.siv.ksc.search.SearchServices</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServices</servlet-name>
        <url-pattern>/search/SearchServices</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchCustomer</servlet-name>
        <servlet-class>de.siv.ksc.search.SearchCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchCustomer</servlet-name>
        <url-pattern>/search/SearchCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchCustomerServiceEntries</servlet-name>
        <servlet-class>de.siv.ksc.search.SearchCustomerServiceEntries</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchCustomerServiceEntries</servlet-name>
        <url-pattern>/search/SearchCustomerServiceEntries</url-pattern>
    </servlet-mapping>
    <!--
        Reporting
    -->
    <servlet>
        <servlet-name>ServiceReport</servlet-name>
        <servlet-class>de.siv.ksc.gateway.ServiceReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceReport</servlet-name>
        <url-pattern>/reporting/ServiceReport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetLastPageComment</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetLastPageComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetLastPageComment</servlet-name>
        <url-pattern>/reporting/GetLastPageComment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateConfigReporting</servlet-name>
        <servlet-class>de.siv.ksc.gateway.UpdateConfigReporting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateConfigReporting</servlet-name>
        <url-pattern>/reporting/UpdateConfigReporting</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetLastPageContactsComment</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetLastPageContactsComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetLastPageContactsComment</servlet-name>
        <url-pattern>/reporting/GetLastPageContactsComment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCron</servlet-name>
        <servlet-class>de.siv.ksc.gateway.GetCron</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCron</servlet-name>
        <url-pattern>/reporting/GetCron</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ScheduleReport</servlet-name>
        <servlet-class>de.siv.ksc.gateway.ScheduleReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScheduleReport</servlet-name>
        <url-pattern>/reporting/ScheduleReport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Scheduler</servlet-name>
        <servlet-class>de.siv.ksc.gateway.Scheduler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Scheduler</servlet-name>
        <url-pattern>/efs/reporting/ScheduleDistributor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Creator</servlet-name>
        <servlet-class>de.siv.ksc.gateway.Creator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Creator</servlet-name>
        <url-pattern>/efs/application/Creator</url-pattern>
    </servlet-mapping>
    <!--
            Welcome File & Datasource
    -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
